Django==2.2.22
djangorestframework===3.9.4
djangorestframework-jwt===1.11.0
django-filter===2.1.0
django-cors-headers==2.5.2
django-countries==5.3.3
django-phonenumber-field==2.3.1
phonenumbers==8.10.8
django-money==0.14.4
redis
celery
arrow
pyyaml
psycopg2
uwsgi
django-cacheops
psycopg2-binary==2.8.1
Pillow==6.0.0