{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block content %}
{{ block.super }}

{% if show_confirm or show_cancel %}
<div class="grp-module grp-submit-row">
    <div align="center" style="padding:40px"> 
        {% url opts|admin_urlname:'confirm' original.pk|admin_urlquote as confirm_url %}
        
        {% if show_confirm %}
            <a style="font-size:20px; height:45px; line-height:30px; width:160px; display:inline-block; text-align:center;" href="{% add_preserved_filters confirm_url %}" class="grp-button grp-default" >{% trans "Confirm Order" %}</a>
        {% endif %}
        
        {% if show_cancel %}
            <a style="font-size:20px; height:45px; line-height:30px; width:160px; display:inline-block; text-align:center;" href="{% add_preserved_filters confirm_url %}" class="grp-button grp-delete-link" >{% trans "Cancel Order" %}</a>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}

